h1{
    text-align: left;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

div{
    height: 100px;
    width: 100px;
    background-color: bisque;
    border-width: 3px;
    border-style: solid;
    border-color: chocolate;
}