/* #BOX{
    background-color: blue;
}

.heading{
    color: red;
}

button{
    background-color: green;
}

p{
    text-align:right;
} */

/* *{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

#Outer{
    font-size: 25px;
}
#Inner{
    font-size: 10px;
} */


/* task three */
h1{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

#Task3{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}
