/* #BOX{
    background-color: blue;
}

.heading{
    color: red;
}

button{
    background-color: green;
}

p{
    text-align:right;
} */

/* *{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

#Outer{
    font-size: 25px;
}
#Inner{
    font-size: 10px;
} */


/* task three */
h1{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

#Task3{
    height: 500px;
    width: 200px;
    background-color: black;
    border: 20px;
    border-color: brown;
    align-self: center;
    border-radius: 25px 25px 25px 25px ;
    padding: 50px;
    margin: 50px;
}

#red{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    margin: 30px 30px 30px 30px;
    
}

#yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
    margin: 30px 30px 30px 30px;
}

#green{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    margin: 30px 30px 30px 30px;
}
